<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>866251367674-g4r0c94motffon1di9lpj4159i9cp8ad.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.866251367674-g4r0c94motffon1di9lpj4159i9cp8ad</string>
	<key>API_KEY</key>
	<string>AIzaSyBUG0lQ2TjT6NrwBluCh0EU-YhElN4EIVQ</string>
	<key>GCM_SENDER_ID</key>
	<string>866251367674</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tenpearls.pushnotificationsample</string>
	<key>PROJECT_ID</key>
	<string>xamarin-pn-sample</string>
	<key>STORAGE_BUCKET</key>
	<string>xamarin-pn-sample.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:866251367674:ios:81a58c9cb7a1d6dab09543</string>
</dict>
</plist>